/*-- scss:defaults --*/

// fonts
$presentation-font-size-root: 35px;
$presentation-h1-font-size: 2em;

// colors
$body-bg: #fff;
$body-color: #191919;
$link-color: #42affa;

/*-- scss:rules --*/

.reveal .slide blockquote {
  border-left: 3px solid $text-muted;
  padding-left: 0.5em;
}